<%- include('partials/nav') %>
<div style="max-width: 500px; margin: auto;" class="mt-5">
  <%- include('partials/notifications') %>
  <form action="/properties" method="POST" >
    <div class="row">
      <div class="col-sm-7">
        <div class="form-group">
          <label for="address">Address</label>
          <input name="address" type="text" class="form-control" id="address" aria-describedby="emailHelp"
            value="<%= typeof address != 'undefined' ? address : '' %>">
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label for="prop  erty_type">Property Type</label>
          <select name="property_type" class="form-control" id="property_type">
            <% propertyTypes.forEach(propertyType => { %>
              <option value="<%= propertyType._id %>"><%= propertyType.name %></option>
            <% }) %>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="area">Area</label>
          <div class="input-group">
            <input name="area" type="text" class="form-control" aria-describedby="basic-addon2"
              value="<%= typeof area != 'undefined' ? area : '' %>">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">&#x33A1;</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input name="price" type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
            value="<%= typeof price != 'undefined' ? price : '' %>">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" class="form-control" id="description" rows="2"><%= typeof address != 'undefined' ? address : '' %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
